DAILY AUTOMATION WORKFLOW (1).json
{
  "name": "DAILY AUTOMATION WORKFLOW",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -16
      ],
      "id": "517c6e0f-9d8d-47f4-88ae-f894834f633f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8fdd0234-3ae1-433f-b406-65c9cefbd97d",
              "name": "DATE",
              "value": "={{ $json.DATE }}",
              "type": "string"
            },
            {
              "id": "ea8ebc4c-36c9-4821-a780-44da2e131505",
              "name": "TASK",
              "value": "={{ $json.TASK }}",
              "type": "string"
            },
            {
              "id": "5c40e3a3-12ca-4f26-ab6b-03a586ca8b6c",
              "name": "OWNER",
              "value": "={{ $json.OWNER }}",
              "type": "string"
            },
            {
              "id": "31650457-12fb-4af7-872c-36427686ed19",
              "name": "PRIORITY",
              "value": "={{ $json.PRIORITY }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        -48
      ],
      "id": "1ace29ee-7971-4383-9c51-ae77e0700533",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "abhishekpratapsingh5100@gmail.com",
        "subject": "DAILY UPDATES ",
        "message": "=<h3>Daily Automation Summary Report</h3>\n<p>Here is the latest data retrieved from your tracking sheet:</p>\n\n<table style=\"font-family: Arial, sans-serif; border-collapse: collapse; width: 100%; max-width: 600px;\">\n  <tr style=\"background-color: #4CAF50; color: white;\">\n    <th style=\"border: 1px solid #dddddd; padding: 8px; text-align: left;\">Date</th>\n    <th style=\"border: 1px solid #dddddd; padding: 8px; text-align: left;\">Task</th>\n    <th style=\"border: 1px solid #dddddd; padding: 8px; text-align: left;\">Owner</th>\n    <th style=\"border: 1px solid #dddddd; padding: 8px; text-align: left;\">Priority</th>\n  </tr>\n  \n  {{ $json.data.map(row => `\n    <tr>\n      <td style=\"border: 1px solid #dddddd; padding: 8px;\">${row.DATE || ''}</td>\n      <td style=\"border: 1px solid #dddddd; padding: 8px;\">${row.TASK || ''}</td>\n      <td style=\"border: 1px solid #dddddd; padding: 8px;\">${row.OWNER || ''}</td>\n      <td style=\"border: 1px solid #dddddd; padding: 8px;\">${row.PRIORITY || ''}</td>\n    </tr>\n  `).join('') }}\n\n</table>",
        "options": {
          "replyTo": ""
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        592,
        -48
      ],
      "id": "5986a100-89fd-4733-9829-37b1f4b76913",
      "name": "Send a message",
      "webhookId": "a8dfd9e0-7bd6-4c77-b1c0-5144c6439bef",
      "credentials": {
        "gmailOAuth2": {
          "id": "CRi9Ej8l9qIbVuHM",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13OTZgs-vWZO2feJRDCagmkz4JOYJpjKVH63ngge0lHE",
          "mode": "list",
          "cachedResultName": " TO DO LIST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13OTZgs-vWZO2feJRDCagmkz4JOYJpjKVH63ngge0lHE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13OTZgs-vWZO2feJRDCagmkz4JOYJpjKVH63ngge0lHE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        -48
      ],
      "id": "73a51992-652b-4205-b8ca-0329bbce118d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CqF3EJ43LPd24xB5",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        352,
        -48
      ],
      "id": "09abecf5-978c-41d1-8033-d9bae588b094",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "53d41f66-fd82-4afc-a4bf-cbdc61bdb27f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ec1381bba400f91c39103f4b2726d11a8ea27e314b159c7c51cb2b1219dc2b0"
  },
  "nodeGroups": [],
  "id": "GuUmpsG7V1RJS8tE",
  "tags": []
}